*{
    margin: 0px;
}

.page-wrapper{
    background-color: black;
    width: 100%;
    height: 100vh;
}

.top-wrapper{
    background-color: blue;
    width: 10%;
    height: 22vh;
}

.second-wrapper{
    background-color: red;
    width: 10%;
    height: 22vh;
    margin-left: 10%;
}

.third-wrapper{
    background-color: green;
    width: 10%;
    height: 22vh;
    margin-left: 20%;
}

.fourth-wrapper{
    background-color: yellow;
    width: 10%;
    height: 22vh;
    margin-left: 30%;
}